.root {
    -fx-background-color: linear-gradient(#424D4E, #8D8D8D);
}

.button {
    -fx-background-color: linear-gradient(#dc9656, #ab4642);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);

}
